body {
   height: 100vh;
   padding: 0;
   margin: 0;
   background-color: rgb(243, 246, 243);
   font-family: 'Montserrat','Noto sans', sans-serif;
   font-weight: 400;
   font-size: 1rem;  
}

a {
   color: #fff;
   text-decoration: none;
}

h1 {
   font-size: 4rem;
   font-family: 'Montserrat', sans-serif;
}

h2 {
   font-size: 2rem;
   font-family: 'Montserrat', sans-serif;
}


p {
   line-height: 1.5rem;
}
.separator {
   width: 4rem;
   border-bottom: solid 0.2rem;
   color:rgb(238, 8, 84);
   margin-bottom: 1rem;
}

/* HEADER with background image */
header {
   width:100%;
   height: 100%;
   position: relative; 
   background-image: url('../images/homepage/hero-bg-1.jpg');
   background-position:center; 
   background-size: cover;
   background-attachment: fixed;
   color: white;
   z-index: -2;
  }

.filter {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left:0;
   background-color: black;
   opacity: 0.5; 
   z-index: -1;  
}

/* sinon possibilité dans header :*/
/* header {
   background-blend-mode: color;
   background-color: rgb(181, 173, 173);
} */

.header-container {
   display: flex;
   justify-content: center;
}


/* NAVBAR avec logo, menu et bouton "take action"*/
nav { 
   height: 35%;
   width: 100%;
   padding: 0 1rem 0 1rem; 
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header nav img {
   width: 12.5%;
}
.black-logo {
   display: none;
}
.right-block {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

ul {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;

}

nav ul li {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem;

}

nav ul li a {
   text-decoration: none;
   color: white;
}

.both-btns {
   height: 3.2rem;
   width: 12.2rem;
   position: relative;
}

.red-btn {
   text-transform: uppercase;
   font-weight: bold;
   height: 3rem;
   width: 12rem;
   background-color: rgb(238, 8, 84);
   border: solid rgb(238, 8, 84);
   border-radius: 3rem;
   color: white;
}

.both-btns .burger-btn {
   height: 2.8rem;
   width: 2.8rem;
   position: absolute;
   right: 0;
   background-color: rgb(238, 8, 84);
   border-radius: .2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;    
   display:none;
}

.burger-btn div {
   height: 0.2rem;
   width: 2.4rem;
   border-top: solid 0.1rem white;
   border-bottom: solid 0.1rem white;
   background-color: rgb(238, 8, 84);
}

/* MAIN-SECTION du header avec H1 notamment */
.main-section {
   position:relative;
   height:100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.suggestion {
   font-size: 1.5rem;
   font-weight: bold;   
}

h1 {
   font-family: "Roboto", sans-serif;
   font-weight: 600;  
}

/* eventsSection */
#eventsSection {
   width: 100%;
  }

.banner {
   width: 100%;   
   display: flex;  
   justify-content: space-around;
   align-items: center;
   margin-top: 5rem;
   position: relative;
   
}

.quote-img {
   width: 7%;
   opacity: 0.8;
   position: absolute;
   top: 0;
   left: 3rem;
}

.quote-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.evenement-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.double-container {
   max-width: 100%;
   display: flex;
   flex-direction: colum;  
}

.double-container img {
   max-width: 76%;
   margin: 2rem auto 2rem auto;
   border-radius: .3rem;
   box-shadow:.9rem .9rem 0 .1rem rgb(224, 223, 223);
   filter: sepia(0.1);
}

.double-container div {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.left-container {
   position: relative;
   right: -2%;
}

.right-container {
   position: relative;
   left: -2%;
}

.double-container div p {
   height: 8rem;
   margin-left: 3.5rem;
   margin-right: 3.5rem;
   text-align: center;
}

.double-container div .red-btn{
   margin-bottom: 6rem;
}

/* explorationSection */

#explorationSection {
   width:100%;
   height: 100%;
   position: relative; 
   background-image: url('../images/homepage/section-bg-img.jpg'); 
   
   background-repeat: no-repeat; 
   background-size: cover;
   background-attachment: fixed;
   color: white;
   z-index: -2;
  }

/*    .filter { voir HEADER }    */

.section-bg-fix {
   width: 50%;
   position: absolute;
   right: 0;

}

/* destinationSection */

.triple-container {
   margin: 7rem 2.5rem 7rem 2.5rem;
   display: grid;
   grid-template-columns: repeat(3, 1fr);   
   gap: 1rem;
   text-align: justify;
}

.column img {
   max-width: 100%;
   border-radius:.3rem;
}

.column:last-child {
   margin-top: .5rem;
}

/* FOOTER  */

footer {
   height: 30%;
   width: 100%;
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

footer p {
   color: white;
   font-family: "Noto Sans";
}


/* CUSTOMIZE : button and modal window (pop-up)
/* FIXED customizing button*/
.customize-btn {
   display: flex; 
   align-items: center;
   z-index: 2;
   line-height: 1rem;
   background-color: rgb(255, 255, 255);
   border-radius: 0.1rem;
   border: solid .1rem rgb(229, 231, 235) ;  
   height: 3rem;
   width: 8rem;
   position: fixed;
   top: 11rem;
   right:-10rem;   /* initialement décalé au-delà du bord droit */
   visibility: hidden;    /* initialement caché */
   transition: right 2s;  /* appliquée lors de la translation vers la gauche, voir translation.js */
   
}
.customize-btn span {
   box-sizing: border-box;
   position: absolute;
   right: 1.1rem;
   font-family: dm sans;
}
.customize-btn img {
   height: 1rem;
   color:blue;
}
.blue-palette {
   position: absolute;
   left:1.1rem;
}
.white-palette {
   position: absolute;
   left:1.1rem;
   visibility: hidden;
}

.customize-btn:hover {
   background-color: blue;
   border-color: blue;
}
.customize-btn:hover .blue-palette {
   visibility:hidden;
}
.customize-btn:hover .white-palette {
   visibility:visible;
}
.customize-btn:hover span {
   color: white;
}

/* custommizing POPUP */
.customize-popup {
   position: fixed;
   right: -20rem;
   width: 20rem;
   background-color: rgb(255, 255, 255);
   border: solid .1rem rgb(224, 223, 223);
   border-radius: 0.1rem;
   font-family: "DM Sans", sans-serif;
   line-height: 1.7rem;   
   visibility: hidden;
   transition: 2s;
   z-index: 3;
}

.customize-popup:target {
   visibility: visible;
   transition: right 2s;
   right: 0;
}

.popup-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow:0 .1rem .3rem 0rem rgb(224, 223, 223);
   border-top: solid 0.1rem rgb(229, 231, 235);   
   padding-left: 2rem;
   padding-right: 2rem;
}

.customize-popup h3 {
   font-size: 1.2rem;
   font-weight: 600;
   line-height: 1.2rem;
   
}

.close {
   font-size: 1.5rem;
   width: 1.6rem;
   height: 1.6rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border: solid 0.05 rem;
   border-radius: 0.05rem;
   opacity:.5;
}

.close:hover {
   opacity: 1;
}

.popup-container {
   box-sizing: border-box;
   padding-left: 2rem;
   padding-right: 2rem;
}
.popup-container p {
   font-size: .9rem;
   font-weight: 300;
   border-bottom: solid 0.1rem rgb(229, 231, 235);
}

.other-colors, .other-fonts {
   display: flex;
   flex-direction: column;
   padding-top: 0rem;
   padding-bottom: 0rem;
}

.colors-title, .fonts-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 500;
}


.popup-container  h4 {   
   font-size: 1rem;
   font-weight: 500;
}

.default {
   font-size: .75rem;
   font-weight: 400;
   opacity: .4;
}

.default:hover {
   cursor: not-allowed;
}
/* 
.other-colors {
   padding-left: 2rem;
   padding-right: 2rem;
}

.other-fonts {
   padding-left: 2rem;
   padding-right: 2rem;
} */

.colors-grid {
   display: grid;
   grid-template-columns: repeat(2, 6fr);   
   grid-auto-rows: 2rem;
   gap: 1rem;
}

.color-item {
   border: solid 0.5rem rgb(229, 231, 235) ; 
   border-radius: 5%;
}

.c1 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
   display: flex;
   justify-content: space between;
   align-items: center;
} 
.c1 span {
   text-transform: uppercase;
   font-size: .8rem;
}

.default-set {
   display: flex;
   align-items: center;
}

.ball {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
}

.default-colors-set:nth-child(1) {
   background-color: rgb(251, 32, 86);
}
.default-colors-set:nth-child(2) {
   background-color: rgb(218, 28, 75);
}
.default-colors-set:nth-child(3) {
   background-color: rgb(25, 25, 25);
}
.default-colors-set:nth-child(4) {
   background-color: rgb(64, 64, 64);
}
.default-colors-set:nth-child(5) {
   background-color: rgb(245, 245, 245);
}









.fonts-grid {
   display: grid;
   grid-template-columns: repeat(4, 3fr);   
   gap: 1rem;
}

