
/* @media (max-width:1199px) {

} */


@media (max-width:991px) {
    header {
        height: 85vh;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media (max-width:767px) {
    header {
        height: 70vh;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .header-container {
        background-color: white;
    }
    .black-logo {
        display: block;
    }
    .white-logo {
        display: none;
    }
    header nav img {
        width: 100px;
    }
    .black-logo {
        display: block;
    }
    .white-logo {
        display: none;
    }
    nav ul {
       display: none;
    }
    .both-btns .red-btn {
        display: none;
    }

    .both-btns .burger-btn {
        display: block;
    }
    

}

/* @media (max-width:575px) {
    
    
}

@media (max-width:480px) {
    
    
} */

