body {
   height: 100vh;
   padding: 0;
   margin: 0;
   background-color: rgb(243, 246, 243);
   font-family: 'Montserrat','Noto sans', sans-serif;
   font-weight: 400;
   font-size: 1rem;  
}

a {
   color: #fff;
   text-decoration: none;
}

h1 {
   font-size: 4rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

h2 {
   font-size: 2.1rem;
   font-family: 'Montserrat', sans-serif;
}

h3 {
   font-weight: 700;
}


p {
   line-height: 1.5rem;
}

li {
   text-decoration : none;
}

.separator {
   width: 4rem;
   border-bottom: solid 0.2rem;
   color:rgb(238, 8, 84);
   margin-bottom: 1rem;
}
.reddash {
   width: 1rem; 
   border-top: solid 0.2rem;
   color:rgb(238, 8, 84);
   margin:1rem 0.3rem 0 0.3rem;
   font-weight: 900;

   
}

/* HEADER with background image */
.home-header {
   background-image: url('../images/homepage/hero-bg-1.jpg');
}
.about-header {
   background-image: url('../images/about/about-bg-5.jpg');
}
.services-header {
   background-image: url('../images/services/services-bg.jpg');
}
.projects-header {
   background-image: url('../images/projects/project-background.jpg');
}

header {
   background-position:center; 
   background-size: cover;
   background-attachment: fixed;
   background-blend-mode: color;
   background-color: rgba(0, 0, 0, 0.534);
   width:100vw;
   position: relative; 
   display: flex;
   flex-direction: column;
   color: white;
   /* z-index: -2; */
}

/* sinon possibilité div au-dessus, avec header z-index: 1 :*/
/* .filter {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left:0;
   background-color: rgb(46, 44, 44);
   opacity: 0.6; 
   z-index: -1;  
} */

.header-container {   
   height: auto;
   display: flex;
   flex-direction: column;   
   padding: 0 9rem 0 9rem;
}

/* NAVBAR avec logo, menu et boutons "take action" & "burger-menu*/
nav { 
   width: 100%;
   padding: 0 1rem 0 1rem; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.white-logo {
   width: 8rem;
}
.black-logo {
   width: 8rem;
   display: none;
}
.right-block {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.right-block ul {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;
}

nav ul li {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem;

}

nav ul li a {
   text-decoration: none;
   color: white;
}

.red-btn {
   text-transform: uppercase;
   font-weight: bold;
   height: 3rem;
   width: 12rem;
   background-color: rgb(238, 8, 84);
   border: solid rgb(238, 8, 84);
   border-radius: 3rem;
   color: white;
}

nav .red-btn {
   margin-top:auto;
}

.red-btn:hover {
   background: rgba(215, 6, 76);
}

.burger-btn {
   height: 2.8rem;
   width: 2.8rem;
   position: absolute;
   top: .6rem;
   right: 3rem;
   background-color: rgb(238, 8, 84);
   border-radius: .2rem;  
   align-items: center;
   display: none;
}

.burger-btn:hover {
   background: rgb(215, 6, 76); 
}

.bar1, .bar2, .bar3 {
   height: 0.1rem;
   width: 1rem;    
   margin: .2rem auto;
   background-color: white;   
   justify-self: center;
   transition: .1s;
}

/*  BURGER MENU */
.dropdown-content {      
   height: auto;
   width: 100%;
   display: none;
}

.dropdown-content a {
   padding: 0.8rem 1rem;
   border-bottom: solid 0.1rem rgba(0,0,0,0.2);
   color: black;
}

.dropdown-content a:hover {
   background-color: #ddd;
}

/* .dropdown-content a:active {
   color:rgba(215, 6, 76);
} */

.dropdown-content .active {
   color:rgba(215, 6, 76);
}


.main-section {
   position:relative;
   height:100vh; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.suggestion {
   font-size: 1.5rem;
   font-weight: bold;   
}


#eventsSection {
   width: 100%;
  }

.banner {
   width: 100%;   
   display: flex;  
   justify-content: space-around;
   align-items: center;
   margin-top: 5rem;
   position: relative;   
}

.quote-img {
   width: 7%;
   position: absolute;
   top: 0;
   left: 3rem;
}

.quote {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.quote-text {   
   font-size: 1.2rem;
}

.evenement-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


#adventures {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.double-container, .top-container, .bottom-container {
   max-width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.left-container, .right-container {
   padding-top: 3rem;
   /* height:38rem; */
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.left-container {
   padding-left: 10rem;
}

.right-container {
   padding-right: 10rem;
}

.topleft-container, .topright-container, .bottomleft-container, .bottomright-container {
   margin-top: 2rem;
   padding: 1.8rem;
   height:60vh;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.btmleft-container, .btmright-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.double-container img {
   max-width: 80%;
   padding: 2rem auto 2rem auto;
   border-radius: .3rem;
   box-shadow:.8rem .8rem 0 .1rem rgb(235, 227, 227);
   filter: sepia(0.1);
}

.topright-container img {
   max-width: 80%;
   padding: 2rem auto 2rem auto;
   border-radius: .3rem;
   box-shadow:.8rem .8rem 0 .1rem rgb(235, 227, 227);
   filter: sepia(0.1);
}

.double-container h3 {
   line-height: 2rem;
}

.double-container p {
   height: 38vh;
   margin-top: 0;
   margin-bottom: 1rem;    
   text-align: center;
   padding-right: 5rem;
   padding-left: 5rem;
}

.bottomleft-container p {
   margin-top: 2.4rem;
}

.bottomright-container li, .double-container li {
   display: flex;
   flex-direction: row;
   line-height: 2rem;
}

#explorationSection {
   width:100vw;
   height: 80vh;
   position: relative; 
   background-image: url('../images/homepage/section-bg-img.jpg');      
   background-repeat: no-repeat; 
   background-size: cover;
   background-attachment: fixed;
   background-blend-mode: color;
   background-color: rgba(0, 0, 0, 0.534); 
   color: white;
  }


.section-bg-fix {
   width: 50%;
   height: 100%;
   position: absolute;
   right: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.red-btn {
   margin-top: 2rem;
}



.triple-container {
   margin: 5rem 10rem 5rem 10rem;
   display: grid;
   grid-template-columns: repeat(3, 1fr);   
   gap: 1.2rem;
   text-align: justify;
}

.col {
   display: flex;
   flex-direction: column;   
}

.col-text{
   margin-right: 2rem;
}

.col img {
   width:90%;
   height:90%;
   border-radius:.3rem;
}

.last-img {
   margin-top: .5rem;
}

/* FOOTER  */

footer {
   height: 30vh;
   width: 100vw;
   background-color:rgb(25,25,25);
   display: flex;
   flex-direction: column;
   justify-content: center;   
   text-align: center;
}

footer p {
   color: white;
   font-family: "Noto Sans";
}


