
/* @media (max-width:1199px) {

} */

/* @media (max-width:479px) {
    
    
    h1 {
        font-size: 3rem;
    }   

} */

@media (max-width:767px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
    p {
        line-height: 0.8rem;
     }
    header {
        height: 80vh;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .header-container {
        background-color: white;
        color: black;
        padding: 0;
    } 
    
    .black-logo {
        display: block;

    }
    .white-logo {
        display: none;
    }
    .right-block ul, .right-block .red-btn {
        display: none;
    }
    .burger-menu {
        display: inline-block;
    } 
    .burger-btn {
        display: block;
    }

    .transform .bar1 {
        transform: translate(0, 0.275rem) rotate(-45deg);
    }
    .transform .bar2 {
        opacity: 0;
    }
    .transform .bar3 {
       transform: translate(0, -0.275rem) rotate(45deg);
     }
}

/* @media (max-width:575px) {
    
    
}

@media (max-width:480px) {
    
    
} */

