@media (max-width:920px) {
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    .separator {
        width: 5rem;
        border-bottom: solid 0.1rem; 
    }
    header {
        background-image: none;
    }
    .header-container {        
        background-color: white;
        color: black;
        padding: 0;
    }
    nav {
        height: 12vh;
    }
    .black-logo {
        display: block;
    }
    .white-logo {
        display: none;
    }
    .right-block ul, .right-block .red-btn {
        display: none;
    } 
    .burger-btn {
        display: block;
    }
    .bar1, .bar2, .bar3 {        
        display: block;
     }
    .transform .bar1 {
        transform: translate(0, 0.275rem) rotate(-45deg);
    }
    .transform .bar2 {
        opacity: 0;
    }
    .transform .bar3 {
        transform: translate(0, -0.275rem) rotate(45deg);
    }    
    .dropdown-content {
        display: none;
    }
    .show {
        display:flex;
        flex-direction:column;
    } 
    .home-main {
        background-image: url('../images/homepage/hero-bg-1.jpg');
    }
    .home-main, .about-main, .services-main, .projects-main {
        /*height: 100vh; */        
        background-repeat: no-repeat;
        background-position:center; 
        background-attachment: scroll;
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.534);  
        background-size: cover; 
    }   
    .quote-img {
        width: 10%;
        position: relative;
        left: auto;
        right: auto;
    }
    .banner {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2.5rem; 
        margin-top: 2.5rem;                  
    }   
    .quote-text {   
        text-align: center;
        line-height: 1rem;
    }
    
    .left-container, .right-container {
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    }
    .double-container img {
        max-width: 80%;
    }
    .top-container p, .bottom-container p {
        font-size: 0.9rem;
    }
    .bottomleft-container p {
        margin-top: 1.5rem;
     }
    #explorationSection {
        background-attachment: scroll; 
    }     
    .triple-container {
        margin: 5rem 1rem 5rem 1rem;
    } 
    main .triple-container {
        margin: 5rem 10rem 5rem 10rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
        gap: 1.2rem;
        text-align: justify;
     } 
     main .triple-container .last {
        display: none;
     }
     main .triple-container img {
        width: 35vw;
     }
}  